{% extends 'base.html.twig' %}

{% block title %}Ajouter un événement{% endblock %}

{% block body %}

<h2>Ajouter un événement</h2>

    <div class="add-event">
        {{ form_start(eventForm, {'attr': {'style': 'width: 65%'} }) }}

            <div class="form">
                <div>
                    {{ form_row(eventForm.name) }}
                </div>
                <div>
                    {{ form_row(eventForm.description) }}
                </div>
                <div>
                    <label>Affiche événement</label>
                    {{ form_widget(eventForm.poster) }}
                </div>
                <div>
                    {{ form_row(eventForm.nb_max_pers) }}
                </div>
                <div>
                    {{ form_row(eventForm.date_create) }}
                </div>
                <div class="button">
                    {{form_row(eventForm.submit, {'label':'Soumettre'})}}
                </div>
            </div>

        {{ form_end(eventForm) }}
    </div>

{% endblock %}
