
{% extends 'base.html.twig' %}

{% block title %}Détail Event{% endblock %}

{% block body %}

<h2>Détail de l'événement</h2>

<h4></h4>

<div class="detail_event">

    <div class="poster">
        <figure>
            <img src="{{asset('uploads/images/' ~ event.poster)}}">
        </figure>
    </div>

    <div class="bloc">
        <div>
            <h4><u>Evénement:</u><br> <strong>{{event.name}}</strong></h4>
        </div>
        <div>
            <h4><u>Date de l'événement:</u><br> <strong>{{event.DateCreate | date('d/m/Y')}}</strong></h4>
        </div>
        <div>
            <h4><u>Nombre de participants:</u><br> <strong>{{event.participates|length}}/{{event.NbMaxPers}}pers.</strong></h4>
        </div>

        <div>
            <p><u>Description</u><br><strong>{{event.description}}</strong></p>
        </div>
    </div>

</div>

{% include "event/redirect.html.twig"%}

{% if app.user %}
    <h2>Messagerie</h2>

    <div class="container_message">

        {% for message in messages %}
                <div class="card">
                    <div class="card-header">Post {{message.createdDate | date('d/m/Y')}}</div>
                    <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>{{message.content}}</p>
                        <footer class="blockquote-footer"><cite title="Source Title">{{message.user.nickname}}</cite></footer>
                    </blockquote>
                    </div>
                </div>
        {% endfor %}

    {# {% if  %} #}
    {% for user in event.participates %}
    {{ dump(user) }}
    {% if app.user == user %}
            <div class="formMessage">
                {{ form_start(messageForm, {'attr': {'style': 'width: 50%'} }) }}

                    <div class="form">
                        <div>
                            {{ form_row(messageForm.content) }}
                        </div>
                        <div class="button">
                            {{form_row(messageForm.submit, {'label':'Soumettre'})}}
                        </div>
                    </div>

                {{ form_end(messageForm) }}
            </div>
        {# {% else %}
            <p>Pour discuter avec les membres veuillez vous inscrire à l'événement</p>
        {% endif %} #}
</div>
    {% endif %}
        
    {% endfor %}
            
{% endif %}



{% endblock %}