
{% extends 'base.html.twig' %}

{% block title %}Détail Event{% endblock %}

{% block body %}

<h1 style="text-align: center;">Détail de l'événement</h1><br><br>

<h4 style="text-align: center;"></h4>

<div style="display: flex; justify-content: center; border-radius: 15px;">
    <img src="{{asset('uploads/images/' ~ event.poster)}}" style="border-radius: 15px;">
</div><br><br>

<div style="display: flex; justify-content: center;">
    <h2 style="text-align: center; background-color: aliceblue; border-radius: 10px; width: 22%">Evénement:<br> <strong>{{event.name}}</strong></h2>
</div><br>
<div style="display: flex; justify-content: center;">
    <h2 style="text-align: center; background-color: aliceblue; border-radius: 10px; width: 22%">Date de l'événement:<br> <strong>{{event.DateCreate | date('d/m/Y')}}</strong></h2>
</div><br>
<div style="display: flex; justify-content: center;">
    <h2 style="text-align: center; background-color: aliceblue; border-radius: 10px; width: 22%">Nombre de participants:<br> <strong>{{event.NbMaxPers}}pers.</strong></h2>
</div><br><br>




<div style="display: flex; justify-content: center;">
    <p style="text-align: center; background-color: aliceblue; border-radius: 10px; font-size: 2em;  width: 50%;">{{event.description}}</p>
</div>


{% endblock %}