{% extends 'base.html.twig' %}

{% block title %}Liste Events{% endblock %}

{% block body %}

<h2>Listes des events</h2>

{% if is_granted('ROLE_ADMIN') %}

<h4><a href="{{ path('admin_events_add_event')}}" class="btn btn-primary">Ajouter un Evènement</a></h4>

{% endif %}

<div class="card_event">

    <div class="row">

      {% for event in events %}
        <div class="col-sm-6">

          <div class="card">

            <figure>
              <img src="{{asset('uploads/images/' ~ event.poster)}}" class="card-img-top">
            </figure>

              <div class="card-body">
                  <h5 class="card-title">Evénement:<br><strong class="first">{{event.name}}</strong></h5>
                  <h5 class="card-title">Date de l'événement:<br><strong class="second">{{event.DateCreate | date('d/m/Y')}}</strong></h5>
                  <h6 class="card-text">Nombre de participants:<br><strong class="third">{{event.participates|length}}/{{event.NbMaxPers}} pers.</strong></h6><br>
                  <a href="{{ path('show_event', {'id': event.id})}}" class="btn btn-light">Présentation</a>
              </div>

              {% if event.isLock == true %}

                {% else %}
                  {% include "event/redirect.html.twig"%}
              {% endif %}

              {% if is_granted('ROLE_ADMIN') %}
                <div class="option">
                  <a href="{{ path('admin_events_edit_event', {'id': event.id})}}" class="btn btn-primary">Modifier</a>
                  <a href="{{ path('admin_events_delete_event', {'id': event.id})}}" class="btn btn-danger">Supprimer</a>
                </div>
              {% endif %}
          </div>

        </div>
      {% endfor %}

    </div>
</div>

{% endblock %}
