{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}

<div class="parallax">

    <div class="box1">
        <figure>
            <img src="{{asset('/img/logo.png')}}" alt="logo association">
        </figure>
        <h3>Association BlackLions Special Force</h3>
        <p>"Un site fait pour une équipe de personnes déterminées qui veulent vivre et faire décourvrir leurs passion à toutes et à tous"</p>
    </div>

    <div class="box2">
        <div class="logos">
            <div class="logo-1">
                <figure>
                    <img src="{{asset('/img/immersion.jpg')}}" alt="sniper avec gillie">
                </figure>
                <p>Une plongée en immersion totale</p>
            </div>
            <div class="logo-2">
                <figure>
                    <img src="{{asset('/img/entraide.jpg')}}" alt="">
                </figure>
                <p>L'entraide est essentiel pour la victoire</p>
            </div>
            <div class="logo-3">
                <figure>
                    <img src="{{asset('/img/terrain.jpg')}}" alt="">
                </figure>
                <p>Utiliser les complexités des terrains</p>
            </div>
            <div class="logo-4">
                <figure>
                    <img src="{{asset('/img/détermination.jpg')}}" alt="">
                </figure>
                <p>La finalité étant de passer un bon moment</p>
            </div>
        </div>
    </div>

    <div class="box3">
        <h3>Evénements</h3>
        <div class="event-container">
            <div class="img-event">
                <figure class="fig-event">
                    <img src="{{asset('/img/airsoft-quoi.jpg')}}" alt="">
                </figure>
            </div>
            <div class="regis-home">
                <div class="button-infos">
                    <p>Notre association prévoit des événements à certaines dates, si cela vous intéresse vous pouvez cliquez sur le lien pour accéder à la liste des événements</p>
                    <button><a href="{{path('app_event')}}">liste des événements</a></button>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
