{% extends 'base.html.twig' %}

{% block title %}Page d'inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h2>Inscription</h2>


    <div class="regis">
        {{ form_start(registrationForm, {'attr': {'style': 'width: 65%'} }) }}

            <div class="form">
                <div>
                    {{ form_row(registrationForm.nickname) }}
                </div>
                <div>
                    {{ form_row(registrationForm.email) }}
                </div>
                <div>
                    {{ form_errors(registrationForm.plainPassword.first)}}
                    {{ form_row(registrationForm.plainPassword.first) }}
                </div>
                <div>
                    {{ form_errors(registrationForm.plainPassword.second)}}
                    {{ form_row(registrationForm.plainPassword.second) }}
                </div>
                <div>
                    {{ form_row(registrationForm.discord_nickname) }}
                </div>
                <div>
                    {{ form_row(registrationForm.agreeTerms) }}
                </div>
                <div class="button">
                    {{form_row(registrationForm.submit, {'label':'Soumettre'})}}
                </div>
            </div>

        {{ form_end(registrationForm) }}
    </div>

{% endblock %}
