{% extends 'base.html.twig' %}

{% block title %}Add Media{% endblock %}

{% block body %}

<h1>Ajouter un/des media(s)</h1>


    <div class="add-media">
        {{ form_start(mediaForm, {'attr': {'style': 'width: 50%'} }) }}

            <div class="form">
                <div>
                    {{ form_row(mediaForm.media) }}
                </div>
                <div>
                    {{ form_row(mediaForm.event) }}
                </div>
                <div class="button">
                    {{form_row(mediaForm.submit, {'label':'Envoyer'})}}
                </div>
            </div>

        {{ form_end(mediaForm) }}
    </div>

{% endblock %}
