{% extends 'base.html.twig' %}

{% block title %}Add Media{% endblock %}

{% block body %}

<h1 style="text-align: center; color: white;">Ajouter un/des media(s)</h1>


    <div style="display: flex; justify-content: center; margin-top: 150px;">
        {{ form_start(mediaForm, {'attr': {'style': 'width: 65%'} }) }}

            <div class="form">
                <div style="width: 100%; margin: 20px; color: white;">
                    {{ form_row(mediaForm.media) }}
                </div>
                <div style="width: 100%; margin: 20px; color: white;">
                    {{ form_row(mediaForm.event) }}
                </div>
                <div style="width: 100%; margin: 30px; text-align: center;">
                    {{form_row(mediaForm.submit, {'label':'Envoyer'})}}
                </div>
            </div>

        {{ form_end(mediaForm) }}
    </div>

{% endblock %}
