{% extends 'base.html.twig' %}

{% block title %}Hello MultimediaController!{% endblock %}

{% block body %}

<h2>Listes des Medias</h2>

{% if is_granted('ROLE_ADMIN') %}
<h4 style="text-align: center;"><a href="{{ path('add_media')}}" class="btn btn-primary">Ajouter un Media</a></h4>
{% endif %}

{# <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Liste des événements
  </button>
  <ul class="dropdown-menu">
    {% for event in events %}
      <li><a class="dropdown-item" href="{{path('show_media', {'id': event.id})}}">{{event.name}}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="container">
    <input class="form-control" type="text" id="live_search" placeholder="Recherche un événement">
    <div id="result"></div>
</div> #}



  

  



<div class="regis">
  {{form_start(form, {'attr': {'style': 'width: 50%'} })}}

      <div class="form">
          <div>
            {{form_row(form.q)}}
          </div>
          <div>
            {{form_row(form.date)}}
          </div>
      </div>

      {{form_end(form)}}
</div>

<div class="container">

  <div class="carouselVids">

    <h2>Galerie Vidéo</h2>
    <div id="MyCarouselVids" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <div class="carousel-inner">

        {% for video in videos %}

        <div class="carousel-item {% if loop.index == 1 %} active {% endif %}">
          <video class="img-fluid" autoplay loop muted>
            <source src="{{ asset('uploads/videos/' ~ video.media)}}" type="video/mp4" />
          </video>
        </div>

        {% else %}

        <div class="carousel-item">
          <video class="img-fluid" autoplay loop muted>
            <source src="{{ asset('uploads/videos/' ~ video.media)}}" type="video/mp4" />
          </video>
        </div>
        {% endfor %}
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#MyCarouselVids" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <button class="carousel-control-next" type="button" data-bs-target="#MyCarouselVids" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

    </div>
  </div><br>

<div class="carouselImgs">
  <h2>Galerie Photo</h2>
  <div id="MyCarouselImg" class="carousel slide carousel-fade" data-bs-ride="carousel">

    <div class="carousel-inner">

      {% for image in images %}

      <div class="carousel-item {% if loop.index == 1 %} active {% endif %}">
        <figure width="40%">
          <img src="{{ asset('uploads/images/' ~ image.media)}}" width="100%">
        </figure>
      </div>

      {% else %}

      <div class="carousel-item">
        <figure width="40%">
          <img src="{{ asset('uploads/images/' ~ image.media)}}" width="100%">
        </figure>
      </div>
      {% endfor %}
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#MyCarouselImg" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#MyCarouselImg" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

  </div>
</div>

</div>


{% endblock %}