{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}

<section class="container-msg">
    <div class="row">
        <div class="col">
            <h3>Messagerie</h3>
            <div class="nav-buttons">
                <div class="nav-button">
                <a class="btn btn-primary" href="{{ path('app_message')}}" class="list-group-item list-group-item-action active">Accueil</a>
                </div>
                <div class="nav-button">
                <a class="btn btn-primary" href="{{ path('receive')}}" class="list-group-item list-group-item-action">Boîte de reception</a>
                </div>
                <div class="nav-button">
                <a class="btn btn-primary" href="{{ path('sent')}}" class="list-group-item list-group-item-action">Eléments envoyés</a>
                </div>
            </div>
            <div class="contenu">
                <p>Résumé de la messagerie</p>
                <p>Message recus : {{ app.user.received|length }}</p>
                <p>Message envoyés : {{ app.user.sent|length }}</p>
            </div>
            <div class="send">
                <a href="{{ path('send_message')}}" class="btn btn-primary">Envoyer un message</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}