{% extends 'base.html.twig' %}

{% block title %}Lecture e-mail{% endblock %}

{% block body %}

<section class="container-read">
    <div class="row">
        <div class="nav-buttons">
            <div class="nav-button">
            <a class="btn btn-primary" href="{{ path('app_message')}}" class="list-group-item list-group-item-action active">Accueil</a>
            </div>
            <div class="nav-button">
            <a class="btn btn-primary" href="{{ path('receive')}}" class="list-group-item list-group-item-action">Boîte de reception</a>
            </div>
            <div class="nav-button">
            <a class="btn btn-primary" href="{{ path('sent')}}" class="list-group-item list-group-item-action">Eléments envoyés</a>
            </div>
        </div>
        <div class="col-12-read">
            <h4>Message de <strong>{{message.sender.email}}</strong></h4>
            <h5>{{message.title}}</h5>
            <p>{{message.createdAt|date('d/m/Y')}}</p>
            <div>{{message.text}}</div>
        </div>
    </div>
</section>

{% endblock %}