{% extends 'base.html.twig' %}

{% block title %}Envoyer un e-mail{% endblock %}

{% block body %}

<section class="container-send">
    <div class="row">
        <div class="col">
            <h2>Envoyer un message</h2>
            <div class="nav-buttons">
                <div class="nav-button">
                <a class="btn btn-primary" href="{{ path('app_message')}}" class="list-group-item list-group-item-action active">Accueil</a>
                </div>
                <div class="nav-button">
                <a class="btn btn-primary" href="{{ path('receive')}}" class="list-group-item list-group-item-action">Boîte de reception</a>
                </div>
                <div class="nav-button">
                <a class="btn btn-primary" href="{{ path('sent')}}" class="list-group-item list-group-item-action">Eléments envoyés</a>
                </div>
            </div>
            <div class="send-msg">
                {{ form_start(messageForm, {'attr': {'style': 'width: 50%'} }) }}
                <div class="form">
                    <div>
                        {{ form_row(messageForm.title) }}
                    </div>
                    <div>
                        {{ form_row(messageForm.text) }}
                    </div>
                    <div>
                        {{form_label(messageForm.received, "Destinataires")}}
                        {{ form_widget(messageForm.received) }}
                    </div>
                    <div class="button">
                        {{form_row(messageForm.submit, {'label':'Soumettre'})}}
                    </div>
                </div>
                {{ form_end(messageForm) }}
            </div>
        </div>
    </div>
</section>

{% endblock %}