{% extends 'base.html.twig' %}

{% block title %}Edit password{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h2>Modification mot de passe</h2>


    <div style="display: flex; justify-content: center; margin-top: 80px">
        {{ form_start(passForm, {'attr': {'style': 'width: 65%'} }) }}

            <div class="form">
                <div style="width: 100%; margin: 20px; color: white;">
                    {{ form_row(passForm.plainPassword) }}
                </div>
                <div style="width: 100%; margin: 20px; color: white;">
                    {{ form_row(passForm.newPassword) }}
                </div>
                <div style="width: 100%; margin: 30px; text-align: center;">
                    {{form_row(passForm.submit, {'label':'Soumettre'})}}
                </div>
            </div>

        {{ form_end(passForm) }}
    </div>


{% endblock %}